.DS_Store
.file-versions/
node_modules/
.npm-cache/
android/app/build/
android/app/release/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/.idea/
*.iml
.idea/
android/app/build/
android/app/release/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/.idea/
*.iml
.idea/
